*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
_ReSharper.*/
*.[Rr]e[Ss]harper

*.nupkg
**/Packages.config
**/PackageStores/*

code-coverage/
.vs/
*.pidb
*.svclog
*.scc

_Chutzpah*

node_modules/
**/node_modules/

**/wwwroot/

**/publish/

[Tt]est[Rr]esult*
.[Tt]est[Rr]esult*
TestResult.xml

_NCrunch_*
.*crunch*.local.xml

AutoTest.Net/

.sass-cache/

[Ee]xpress/

DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

publish/

*.[Pp]ublish.xml
*.azurePubxml

csx/
*.build.csdef

AppPackages/

_BundleArtifacts/

Package.StoreAssociation.xml

_secret/

ServiceReferences.ClientConfig.cs

logfile.*
logfiles.*
traces.*

[Tt]est[Rr]esult*
.[Tt]est[Rr]esult*
TestResult.xml

_NCrunch_*
.*crunch*.local.xml

AutoTest.Net/

.sass-cache/

[Ee]xpress/

DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

publish/

*.[Pp]ublish.xml
*.azurePubxml

csx/
*.build.csdef

AppPackages/

_BundleArtifacts/

Package.StoreAssociation.xml

_secret/

ServiceReferences.ClientConfig.cs

logfile.*
logfiles.*
traces.*

[Tt]est[Rr]esult*
.[Tt]est[Rr]esult*
TestResult.xml

_NCrunch_*
.*crunch*.local.xml

AutoTest.Net/

.sass-cache/

[Ee]xpress/

DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

publish/

*.[Pp]ublish.xml
*.azurePubxml

csx/
*.build.csdef

AppPackages/

_BundleArtifacts/

Package.StoreAssociation.xml

_secret/

ServiceReferences.ClientConfig.cs

logfile.*
logfiles.*
traces.*

[Tt]est[Rr]esult*
.[Tt]est[Rr]esult*
TestResult.xml

_NCrunch_*
.*crunch*.local.xml

AutoTest.Net/

.sass-cache/

[Ee]xpress/
/AdoteAquiAppWeb/appsettings.json
